<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<link href="/styles/style1.css" />
	<link href="/styles/style1.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/styles/jquery.nouislider.min.css" media="all" rel="stylesheet" type="text/css" />

</head>
<body>

<!-- <button id="randomize">Create random line</button> -->
<div id="menu"></div>
<div class="page">

<div class="campain-overlay__header" id="campain-overlay__header"></div>

<div >

	<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		style="position: absolute; left: -9999px" viewBox="0 0 1311.6 423" enable-background="new 0 0 1311.6 423" xml:space="preserve">
		<path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M0,0c0,0,226.6,425.6,613,423c307-2,259.5-117.2,540-120 c154.8-1.5,161.3,98.9,158,106"/>
	</svg>

	<svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 	style="position: absolute; left: -9999px" viewBox="0 0 336.7 77.4" enable-background="new 0 0 336.7 77.4" xml:space="preserve">
		<path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M0,77.4c0,0,79.2-20.8,123.4-42s120.6-54,174-22s37,32,37,32"/>
	</svg>

	<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		style="position: absolute; left: -9999px" viewBox="0 0 1047.8 149" enable-background="new 0 0 1047.8 149" xml:space="preserve">
		<path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M0,0c0,0,112.3,61.1,280.9,59s190.9-47.2,348-47s339.9,41.1,419,137"	/>
	</svg>
</div>

	<div id="globe_small"></div>
	<div id="globe_medium"></div>
	<div id="globe_large"></div>
	<div id="movie_titles"></div>
	<div id="campaign">

	</div>

	<div id="main">
		<h2>Today from Sky</h2>
		<ul class="tiles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>

	</div>

	<div id="line"></div>​
	<div id="line2"></div>
	<div id="line3"></div>
</div>
<br>
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/d3.min.js"></script>
	<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
	<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/StackBlur.js"></script>
	<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script> 
	<script src="scripts/parallax.js"></script>
	<script src="scripts/jquery.nouislider.min.js"></script>
	<script src="scripts/script1.js"></script>

	<!-- bower:js -->
	<!-- endbower -->
</body>
</html>



	